extends layout 

block content 
    div.container 
        h1 Create note 

        if error 
            p.error Empty submission! 

        if success 
            p.success Completed!

        form.form(action="/create" method='POST')
            label Title of plan
            input.input(type="text" name="title")

            label Description of plan 
            textarea.input(type="text" name="description")

            button.btn Make a plan for today!