extends layout.pug 

block content 
    div.container
        h1.intro-msg This web application was created to fulfillWeb Technology module’s requirements and does not represent an actual company or service.
        a.featured(href='/create') Make a plan 
    div.footer
        p.last-msg 00009252, Copyright &copy; 2021 This web application offers users to make their daily plans, so they can easily follow and complete them one by one, edit. Moreover, this web app allows users to create, monitor and delete easily.