doctype html
html(lang="en")
    head
        title 00009252 
        link(rel='stylesheet' href='/static/style.css')
    body 
        header.navbar
            h1  
                a(href='/') Today's Plan 

            nav.nav 
                a(href='/notes') All plans  
                a(href='/archive') Archive 

        block content   
