:root {
    font-size: 18px;
    color: #e68517;
    background-color: #444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background:url(4.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;*/
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #444;

}

.navbar {
    background-color: #e68517;
    color: ivory;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav a {
    display: inline-block;
    padding: 5px 10px;
}

/* style of homepage */
.container {
    /* background-color: rgb(177, 2, 2); */
    color: 444;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    padding-left: 100px;
    /* background:url(4.jpg) no-repeat center center fixed; */
    /*-webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;*/
}
.intro-msg{
    padding: 100px 0 30px 0;
    font-size: 2rem;
    max-width: 60%;
}
.featured {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e68517;
    border-radius: 10px;
    color: white;
    margin-bottom: 50px;
}

/* ---- style of footer part ---- */
.footer {
    background-color: #e68517;
    color: white   ;
}
.last-msg {
    text-align: center;
    padding: 52px;
    padding-left: 90px;
    padding-right: 90px;
}
.last-msg:hover {
    color: #444;
    cursor: pointer;
}



/* style of create page */
.form {
    max-width: 60%;
    margin-top: 5px;
}

.input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid;
    /*border-radius: 10px;*/
    margin-bottom: 20px;
    background-color: #444;
    color: whitesmoke;
}
textarea {
    resize: none;
    background-color: #444;
    color: whitesmoke;
}

.btn {
    display: inline-block;
    background-color: #e68517;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-top: 5px; */
    font-family: inherit;

}

/* ------ style of note list page ------- */ 
.note-wrapper {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e68517;
}

.note {
    font-size: 1.3rem;
}

.delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e68517;
    border-radius: 5px;
    color: white;
}

.error {
    display: inline-block;
    padding: 10px;
    margin: 5px 0px 5px 0;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.2rem;
    color: red;
}

.success {
    display: inline-block;
    padding: 10px;
    margin: 5px 0px 5px 0;
    border: 1px solid green;
    border-radius: 5px;
    font-size: 1.2rem;
    color: green;
}